<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louie.Dao.UserMapper">
    <select id="getUserList" resultType="user">
        select * from learningmybatis.user
    </select>

<!--    <insert id="insertUser" parameterType="com.louie.pojo.User">-->
<!--        insert into learningmybatis.user values (#{id},#{username},#{password});-->
<!--    </insert>-->

<!--    <update id="updateUser" parameterType="com.louie.pojo.User">-->
<!--        update learningmybatis.user set username=#{username},password=#{password}  where id=#{id};-->
<!--    </update>-->

<!--    <delete id="deleteUser" parameterType="int">-->
<!--        delete from learningmybatis.user where id = #{id};-->
<!--    </delete>-->

<!--    <select id="getUserByLimit" parameterType="map" resultType="user">-->
<!--        select * from learningmybatis.user limit #{limitIndex}, #{pageSize};-->
<!--    </select>-->
</mapper>